


<img class="ui fluid image" src="https://www.billboard.com/files/resources/charts-share-fb-hot100.jpg" alt="Billboards">
<h1>Click a Billboard to view details</h1>
<div class="ui massive relaxed divided list">
<% @billboards.each_with_index do |billboard| %>
<div class="ui segment">
  <div class="item">
    
    <div class="content">
     <h2><i class="volume up icon"></i>
     <a class="header"><%= link_to billboard.name, billboard %></a></h2>
      <div class="description">Click to view</div>
      </div>
    </div>
  </div>
  <% end %>
</div>



